<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  
  <ion-list>
    <ion-item  *ngFor="let produto of lista">
      <ion-label>Produto: Arroz | Quantidade: 2</ion-label>
    </ion-item>
  </ion-list>

</ion-content>

  <div id="container">

   


    <ion-button routerLink="/contato">Contato</ion-button>
    <ion-button routerLink="/sobre">Sobre</ion-button>
    
  </div>

<ion-toolbar color="secondary"></ion-toolbar>